@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');

body {
    font-family: 'Avenir Next LT Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F6F7;
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-right: 135px;
    margin-left: 135px;
    margin-top: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #13253A;
    margin-left: 50px; 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 143px;
}

.content {
   width: 470px;
   height: 261px;
   margin-right: 130px;
}

.sub-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
    margin: 0;
}

.heading {
    font-weight: 700;
    font-size: 46px;
    line-height: 63px;
    letter-spacing: -1px;
    color: #13253A;
    margin-top: 5px;
    margin-bottom: 10px;
}

.content-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    opacity: 0.9;
    margin-bottom: 20px;
}

.btn-header {
    background: #FF7F57;
    width: 336px;
    height: 60px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
}

.content-img img {
    width: 568.13px;
    height: 412.29px;
}

.services-section {
    margin-top: 120px;
    padding-top: 119px;
    padding-bottom: 100px;
    background-color: #fff;
}

.services-card {
    display: flex;
    margin: 0 135px;
    justify-content: space-between;
    text-align: center;
}

.sub-heading-services {
    text-align: center;
    color: #2557AB;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.heading-services {
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #13253A;
}

.card {
    width: 370px;
    height: 197px;
}

.card-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #3B4D6C;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #13253A;
    opacity: 0.9;
}
.experience-section {
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

}
.experience-units {
    display: flex;
    
}

.units {
   padding-right: 135px;
   padding-left: 90px;
    
}

.units-num {
    font-weight: 400;
    font-size: 46px;
    line-height: 63px;
    color: #13253A;
}

.units-text {
    margin-top: -5px;
}

.symbol {
    color: #FF7F57;
}

.units-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
}

.aboutus-section {
    background-color: #fff;
    padding-top: 100px;
}

.sub-heading-about {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
    margin-bottom: 0;
}

.heading-about {
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    color: #13253A;
    margin-top: 0;
    margin-bottom: 10px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    margin: 0 235px;
    align-items: center;
}

.leftside-about {
    width: 370px;
    flex: 1;
    order: 1;
    padding-right: 30px;
}

.rightside-about {
    width: 570px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    opacity: 0.9;
    order: 2;
}

.about-italic {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #13253A;
    opacity: 0.9;
    margin-top: 16px;
}

.about-lefttext {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    opacity: 0.9;
}

.logos-sponsors {
    display: flex;
    justify-content: space-between;
    margin: 60px 235px;
    padding-bottom: 100px;
}

hr {
    margin: 0 135px;
    color: #DCE2E6;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    display: flex;
    align-content: center;
    margin-bottom: 15px;
}
.info-section {
    background-color: #fff;
    margin-bottom: -11px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
    padding-top: 100px;
    background-color: #fff;
}

.heading-info {
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    color: #13253A;
}

.paragraph-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    opacity: 0.9;
}

.list-info li {
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: #13253A;
}

.list-info img {
    padding-right: 15px;
}

.info-rightside img {
    width: 600px;
    height: 450px;
}

.info-leftside {
    width: 470px;
}

.cfa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FF7F57;
    padding: 100px 135px;
    margin: 0;
}

.cfa-subheading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.cfa-heading {
    font-weight: 700;
    font-size: 46px;
    line-height: 63px;
    letter-spacing: -1px;
    color: #F4F6F7;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cfa-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.btn-cfa {
    background: #2557AB;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
    padding: 19px 102px;
    border: none;
}
footer {
    background-color: #11364E;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 140px;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.field-input input, textarea {
    width: 371px;
    background-color: #11364E;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid gray;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    resize: none;
}

.btn-footer {
    display: flex;
    font-weight: 600 !important;
    font-size: 17px !important;
    line-height: 23px !important;
    color: #FFFFFF;
    background: #FF7F57 !important;
    border: none !important;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding-top: 19px !important;
    padding-bottom: 19px !important;
}

label {
    color: #FFFFFF;
    padding-bottom: 10px;
}

::placeholder {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.2;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #13253A;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.8;
    margin-top: 140px;
}

.copyright p {
    padding-top: 16px;
    padding-bottom: 16px;
}